.pot-luck-form{
    display: flex;
    justify-content: space-around;
   
}

.pot-luck{
    width: 60%;
    background: #deeef4;
    border: 2px solid #004346;
    box-shadow: 0 5px 10px #004346;
}

.name-theme-numOfGuests, .date-times, .location, .item-list-qty, .food-list-qty, .description{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
#name-text, #theme-text, #guest-amt, #date, #start-time, #end-time, #location, #item-list, #item-qty, #food-item, #food-qty, #description
{
    font-family: 'Quicksand', sans-serif;
    border-style: inset none none inset;
    
}
.food-list-qty, .item-list-qty{
    width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: space-around;

}
.pot-luck-button{
    background: #07b5b5;
}