* {
    border:1px solid red;
}
.pl-pot-luck-party {
    display: flex;
    flex-wrap: wrap;
<<<<<<< HEAD
    height: 44em;
=======
    height: 50em;
>>>>>>> 2788c4f99c44a90dba22db976986ed74678393da
}
.pl-name-div {
    display: flex;
    flex-direction: column; 
    width: 30%; 
    height: 30%;
    .pl-guest-num{
        width: 30%;
    }
}
.pl-date-time-location {
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    margin-left: 5%;
    height: 30%;
    .pl-time{
        width: 40%;
    }
    .pl-location{
        width: 60%;
    }
}
.pl-description{
    margin-left: 5%;
    width: 20%;
    height: 30%;
}
.pl-edit-button{
    margin-left: 5%;
    margin-top: 5%;
    height: 5%;
}
<<<<<<< HEAD
.pl-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    .pl-guest-list, .pl-acct-for{
        display: flex;
        justify-content: space-between;
    }
}
.pl-guest-list{
    position: relative;
    height: 120%;
    bottom: 20%;
    left: 5%;
}
.pl-acct-for-link{
    width: 20%;
    height: 20%;
}
.pl-items-needed{
    width: 25%;
    margin-left: 11%;
}.pl-acct-for{
    width: 40%;
}
.pl-acct-for-list{
    width: 60%;
    margin-left: 10%;
=======
.pl-item-list, .pl-acct-for-list {
    // height: 50%;
    width: 40%;
}
.pl-lists{
    display: flex;
    width: 80%;
    justify-content: space-around;
>>>>>>> 2788c4f99c44a90dba22db976986ed74678393da
}


