.hosted-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-image: url('../../img/loginLOGO.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    object-fit: contain;
    height: 90vh;
}
.partyName, .partyBudget, .partyDate{
    width: 200px;
    height: 40px;   
    text-align: center;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
}
.pot-luck-button:hover {
    background-color: #DEEEF4;
    color: #07B5B5;
    border: 1px solid #07B5B5;
}