.gl-guest-list{
    background-color: #DEEEF4;
    width: 100%;
    border-style: inset none none inset;
    margin-top: 5%;
    font-family: 'Questrial', sans-serif;
    color: #172A3A;
    text-align: center;
}
.gl-list-container{
    display: flex;
    flex-direction: column;
    width: 90%;
}