.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-image: url('../../img/loginLOGO.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  object-fit: contain;
  height: 90vh;

  .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -9% 2% 0 0;
    max-width: 400px;
    width: 100%;

    .loginHeader {
      color: white;
    }

    .loginField {
      display: flex;
      flex-direction: column;
      margin: 2% 0;
      padding: 2%;
      width: 90%;
      height: 45px;
      font-family: 'Quicksand', sans-serif;
      align-items: center;
      border: none;
      border-radius: 5px;
        
      .existing-user {
        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
      }
    }

    .loginBtn {
      background: $pacific-blue;
      min-width: 80px;
      width: 80%;
      height: 45px;
      font-size: 1.2rem;

      &:hover {
        transform: scale(1.02);
        background: #02e0e0;
      }
    }
  }
}