.container-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    width: 100%;
    //min-height: 80vh;
    height: 100%;
    background: $iceberg;
    border: 2px solid $cyprus;

    h2 {
        margin: 20px 0px;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
    }

    .modal-button {
        background: $pacific-blue;
        width: 200px;
        height: 40px;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        margin: 0px 0px 20px;
        font-size: 1.5rem;
    }

    .modal-button:hover {
        box-shadow: 3px 3px 3px grey;
    }

    .container-options {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-around;
        margin: 0px 0px 10px;

        .option {
            // display: flex;
            // flex-wrap: nowrap;
            // font-family: 'Quicksand', sans-serif;
            // font-weight: bold;
            // background: lightgrey;
            // padding: 5px 10px;
        }

        .option:hover {
            box-shadow: 3px 3px 3px grey;
        }
    }

    .container-dashboard-lower-part {
        display: flex;
        //flex-direction: 
        width: 90%;
        justify-content: space-between;
        margin: 0px 0px 10px;
        background: lightgrey;
        padding: 1%;

        .dashboard-home {
            display: flex;
            justify-content: center;
            background: whitesmoke;
            width: 100%;

            p {
                font-size: 1.5rem;
            }
        }

        .friends-list {
            display: flex;
            flex-direction: column;
            background: whitesmoke;
            width: 100%;
            align-items: center;

            li {
                font-family: 'Quicksand', sans-serif;
            }
        }

        .container-my-parties {
            display: flex;
            width: 100%;
            justify-content: space-between;

             .party-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 49%;
                background: whitesmoke;
                
                h3 {
                    display: flex;
                    font-family: 'Quicksand', sans-serif;
                    font-weight: bold;
                    margin: 10px 0px;
                }

                div {
                    display: flex;
                    font-family: 'Quicksand', sans-serif;
                    //font-weight: bold;
                    margin: 0px 10px 10px;
                }
            }
        }

        // .party-list {
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center;
        //     width: 49%;
        //     background: whitesmoke;
            
        //     h3 {
        //         display: flex;
        //         font-family: 'Quicksand', sans-serif;
        //         font-weight: bold;
        //         margin: 10px 0px;
        //     }

        //     div {
        //         display: flex;
        //         font-family: 'Quicksand', sans-serif;
        //         //font-weight: bold;
        //         margin: 0px 10px 10px;
        //     }
        // }


    }

}

a {
    text-decoration: none;
    text-align: center;
    color: black;
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background: lightgrey;
    padding: 5px 10px;
}

a.active { 
    background-color: #07B5B5;
}

div {
    font-family: 'Quicksand', sans-serif;
}